<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Kelola Berita</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-lg-6 mb-4">
                <!-- isi content -->
                <form action="/admin/berita" method="POST">
                  <div class="form-group">
                    <label for="exampleFormControlFile1">File input</label>
                    <input
                      type="file"
                      class="form-control-file"
                      id="exampleFormControlFile1"
                      name="file"
                    />
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Judul</label>
                    <input
                      type="text"
                      class="form-control"
                      id="judul"
                      placeholder="Input Judul"
                      name="judul"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Isi Berita</label>
                    <textarea
                      class="form-control"
                      id="isi_berita"
                      rows="3"
                      name="isi_berita"
                    ></textarea>
                  </div>
                  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="row">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">No</th>
                      <th scope="col">Gambar</th>
                      <th scope="col">Judul</th>
                      <th scope="col">Isi Berita</th>
                      <th scope="col">Aksi</th>
                    </tr>
                  </thead>
                  <tbody id="dataView">
            
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            
        async function getdata(){
          let getData = await $.get('http://127.0.0.1:5000/admin/api/berita');
          let no = 1;

        getData.berita.forEach(element => {
          let row = '<tr>';
          row += '<td>' + no++ + '</td>';
          row += '<td>' + 'gambar' + '</td>';
          row += '<td>' + element.judul +'</td>';
          row += '<td>'+ element.isi_berita +'</td>';
          row += '<td> <button class="btn btn-danger" onclick="viewEdit(\''+element._id+'\')">Edit</button> </td>';
          row += '<td> <button class="btn btn-danger" onclick="deleteData(\''+element._id+'\')">Delete</button> </td>';
          row += '</tr>';

        // javascript DOM
        $('#dataView').append(row);
        });

            // console.log(getData.berita);
        }
        getdata();

        // edit data
      async function viewEdit(id){
        let data = await $.get('http://127.0.0.1:5000/admin/api/berita/'+id);
          // console.log(data.berita[0].judul);

          let valueJudul = data.berita[0].judul
          let valueBerita = data.berita[0].isi_berita

          $('#judul').val(valueJudul);
          $('#isi_berita').val(valueBerita);
          $('form').attr('action', '/admin/api/berita/'+id)
      }

      async function deleteData(id){
        let data = await $.get('http://127.0.0.1:5000/admin/api/berita/delete/'+id);

        location.reload();
      }
      



     







        </script>

        <%- include ('./partials/footer.ejs') %>