<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                <!-- judul -->
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Beranda</h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <img
                        class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                        style="width: 25rem"
                        src="/poto.jpg"
                        alt="..."
                      />
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Doloremque dolorem repellat eaque nulla tempore, esse
                      veritatis quidem ad quas amet distinctio culpa sunt, nemo
                      temporibus? Quasi necessitatibus rem vel. Aliquam iusto
                      modi fugit laboriosam aperiam obcaecati enim quibusdam,
                      labore quasi exercitationem inventore accusamus. Nemo,
                      possimus maxime optio deserunt neque incidunt quis quae
                      veniam odio asperiores at eveniet voluptate vero cumque
                      rem eaque laborum! Libero expedita necessitatibus tenetur
                      amet? Eum expedita similique consequuntur vel libero,
                      commodi dolore nemo. Architecto deserunt ex provident
                      soluta aperiam fugit ut cumque aliquam repellat sapiente
                      explicabo accusamus nobis ipsum delectus, nulla recusandae
                      quaerat qui voluptatibus error, ad quo.
                    </p>
                  </div>
                </div>
              </h1>
              <br />
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-lg-6 mb-4">
                <!-- isi content -->
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include ('./partials/footer.ejs') %>