<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                <!-- judul -->
                Profil
              </h1>
              <br />
            </div>

            <!-- Content Row -->
            <div class="mb-3 mx-5">
              <form action="/admin/profil" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname">Nama depan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstname"
                      name="firstName"
                      required
                    />
                  </div>

                  <div class="form-group col-md-6">
                    <label for="lastname">Nama belakang</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastname"
                      name="lastName"
                      required
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">Alamat email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="example@gmail.com"
                      name="email"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="phoneNumber">Nomor telepon</label>
                    <input
                      type="number"
                      class="form-control"
                      id="phoneNumber"
                      placeholder="08XXXXXXXXXX"
                      name="tlp"
                      required
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="address">Alamat</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="alamat"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="linkedin">Linkedin</label>
                  <input
                    type="text"
                    class="form-control"
                    id="linkedin"
                    placeholder="https://www.linkedin.com/patricia"
                    name="linkedin"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="github">Github</label>
                  <input
                    type="text"
                    class="form-control"
                    id="github"
                    placeholder="https://www.github.com/patricia"
                    name="github"
                    required
                  />
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Kota</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputCity"
                      name="kota"
                      required
                    />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Kecamatan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputState"
                      name="kec"
                      required
                    />
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Kode Pos</label>
                    <input
                      type="number"
                      class="form-control"
                      id="inputZip"
                      name="kodepos"
                      required
                    />
                  </div>
                </div>

                <!-- <div class="input-group mb-4">
                  <span class="input-group-text">Pengalaman 1</span>
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                  ></textarea>
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text">Pengalaman 2</span>
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                  ></textarea>
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text">Pengalaman 3</span>
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                  ></textarea>
                </div> -->

                <div class="form-group">
                  <label for="exampleFormControlTextarea1"
                    >Deskripsi singkat tentang kamu</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    name="desc"
                    required
                  ></textarea>
                </div>

                <hr />
                <h4>Pengalaman</h4>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="organisasi">Organisasi/Nama Acara</label>
                    <input
                      type="text"
                      class="form-control"
                      id="organisasi"
                      placeholder="berburu ubur-ubur"
                      name="org"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="gelar">Posisi/Gelar Jabatan</label>
                    <input
                      type="text"
                      class="form-control"
                      id="gelar"
                      placeholder="Hokage"
                      name="posisi"
                      required
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="desc">Deskripsi organisasi</label>
                  <textarea
                    class="form-control"
                    id="desc"
                    rows="3"
                    name="desc_org"
                    required
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="location"
                    >Aktivitas/Acara/Lokasi Organisasi (Kota/Negara)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="location"
                    placeholder="Bikini bottom"
                    name="loc"
                    required
                  />
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="startMonth">Tanggal Mulai (Bulan)</label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                      id="month"
                      name="startMonth"
                      required
                    >
                      <option selected></option>
                      <option value="1">Jan</option>
                      <option value="2">Feb</option>
                      <option value="3">March</option>
                      <option value="4">Apr</option>
                      <option value="5">Mei</option>
                      <option value="6">Jun</option>
                      <option value="7">Jul</option>
                      <option value="8">Aug</option>
                      <option value="9">Sep</option>
                      <option value="10">Oct</option>
                      <option value="11">Nov</option>
                      <option value="12">Dec</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="startYear">Tanggal Mulai (Tahun)</label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                      id="startYear"
                      name="startYear"
                      required
                    >
                      <option selected></option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="startMonth">Tanggal Selesai (Bulan)</label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                      id="month"
                      name="endMonth"
                      required
                    >
                      <option selected></option>
                      <option value="1">Jan</option>
                      <option value="2">Feb</option>
                      <option value="3">March</option>
                      <option value="4">Apr</option>
                      <option value="5">Mei</option>
                      <option value="6">Jun</option>
                      <option value="7">Jul</option>
                      <option value="8">Aug</option>
                      <option value="9">Sep</option>
                      <option value="10">Oct</option>
                      <option value="11">Nov</option>
                      <option value="12">Dec</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="startYear">Tanggal Selesai (Tahun)</label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                      id="startYear"
                      name="endYear"
                      required
                    >
                      <option selected></option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                  <label class="form-check-label" for="defaultCheck1">
                    Saat ini saya aktif disini
                  </label>
                </div>

                <hr />

                <label for="photo">Upload Foto</label>
                <div class="input-group mb-3">
                  <input
                    type="file"
                    class="form-control"
                    id="photo"
                    name="foto"
                  />
                </div>
                <label for="cv">Upload CV</label>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="cv" name="cv" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include ('./partials/footer.ejs') %>
      </div>
    </div>
  </body>
</html>
