<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Start your development with Steller landing page."
    />
    <meta name="author" content="Devcrud" />
    <title>Detail</title>
    <!-- font icons -->
    <link
      rel="stylesheet"
      href="/assets/guest/vendors/themify-icons/css/themify-icons.css"
    />
    <!-- Bootstrap + Steller main styles -->
    <link rel="stylesheet" href="/assets/guest/css/steller.css" />
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <!-- Page navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top"
      data-spy="affix"
      data-offset-top="0"
    >
      <div class="container">
        <a class="navbar-brand" href="homePage.html">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="aboutPage.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="experiencePage.html">Pengalaman</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newsPage.html">Berita Informasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="documentPage.html">Dokumen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="galleryPage.html">Galeri</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactPage.html">Kontak</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of page navibation -->

    <!-- content -->
    <div class="card">
      <div class="card-body text-center">
        <img
          src="/assets/guest/imgs/blog-1.jpg"
          style="width: 500px; margin-top: 80px"
          alt=""
        />

        <p class="m-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
          nostrum voluptates in enim vel amet? Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Sequi hic et facilis rem? Adipisci,
          magni? Magni nisi iure totam eos quasi, deleniti quod quas ea nemo
          quisquam repudiandae hic, aut tempora officia dolores dolorem
          pariatur, inventore natus distinctio doloremque. Atque accusamus
          reprehenderit, facere officiis alias voluptates reiciendis error qui
          totam facilis molestias in corporis nemo eaque quas officia? Eligendi
          expedita dolorum perferendis ipsam fugit alias, impedit maxime ut
          praesentium consequatur quo ratione atque reprehenderit dolore soluta!
          Qui minima excepturi quo necessitatibus? Ipsam praesentium fuga,
          deleniti culpa dolor hic minus laudantium facere vel veniam adipisci,
          ratione debitis quae? Aspernatur dicta illo asperiores nemo
          voluptatibus exercitationem praesentium et sit magnam pariatur totam
          quam, aliquam officia, aperiam nostrum. Error odit quas minus culpa
          animi possimus, nam nobis ipsam, expedita fugit neque ab eligendi
          eveniet voluptatum officia ratione iste aperiam totam eum sed
          repellendus. Repellendus tenetur labore nisi eum, animi veritatis
          magnam vitae suscipit? Distinctio, et quia officia, repudiandae sit
          adipisci assumenda impedit quae iusto at nisi voluptatibus recusandae
          eos atque enim quam. Consequatur nisi, sapiente nihil, tenetur
          temporibus architecto adipisci numquam facere corrupti quasi
          reiciendis. Quia, officiis cum? Amet veritatis, beatae deserunt velit
          ex quisquam, eum cupiditate reiciendis nam tempore odit atque harum.
        </p>
      </div>
    </div>

    <!-- Page Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <p>
              Copyright
              <script>
                document.write(new Date().getFullYear());
              </script>
              &copy;
              <a href="http://www.devcrud.com" target="_blank">DevCRUD</a>
            </p>
          </div>
          <div class="col-sm-6">
            <div class="socials">
              <a class="social-item" href="javascript:void(0)"
                ><i class="ti-linkedin"></i
              ></a>
              <a class="social-item" href="javascript:void(0)"
                ><i class="ti-google"></i
              ></a>
              <a class="social-item" href="javascript:void(0)"
                ><i class="ti-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End of page footer -->

    <!-- core  -->
    <script src="/assets/guest/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/assets/guest/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
    <script src="/assets/guest/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- steller js -->
    <script src="/assets/guest/js/steller.js"></script>
  </body>
</html>
